* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  background-color: rgb(100, 99, 99);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
  padding: 40px 25px;
  background-color:black;
  width: 25%;
  border-radius: 10px;
}

button {
  background-color: rgb(46, 46, 46);
  color: white;
  border: 2px solid transparent;
  width: 70px;
  aspect-ratio: 1/1;
  cursor: pointer;
  border-radius: 50%;
}

.outer-row {
  background-color: rgb(6, 37, 31);
}

.evaluate-button {
  background-color: orangered;
}

button:active {
  scale: 1.15;
  filter: brightness(250%);
}

.result-equation-display {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0px 10px;
  overflow-x: auto;
  height: 50%;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  gap: 10px;
}

.display-container {
  height: 80px;
  background-color: rgb(48, 47, 47);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
}

.button-row {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.js-result-equation-display {
  font-size: 25px;
}

@media (max-width: 600px) {
  .container {
    width: 90vw;
    height: 78%;
  }
}